.queue {
  width: 30rem;
  height: 90%;
  overflow: hidden;
}

.queue button {
  margin: 0.5rem;
}

.Videos {
  overflow-y: scroll;
  position: relative;
  height: 100%;
}

.Video {
  height: 3.5rem;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 0px 5px 0px 8px;
}
.Video:hover {
  background-color: #555555;
}
.Video.Playing {
  background-color: #555555;
}
.Video.Playing p, 
.Video.Playing a {
  color: white;
}

.Video p {
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  width: 13rem;
  color: var(--txtColor)
}

.Video a {
  font-size: 0.7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  text-align: left;
  width: 13rem;
  color: var(--txtColor);
}

.Video div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Video img {
  width: 5.5rem;
  border-radius: 20px;
  margin-right: 0.5rem;
}

@media (max-width:1024px) {
  .queue {
    width: 100%;
  }
}